<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!-- %yellow colors the output. %msg is the log message, %n is a newline. -->
            <pattern>%yellow(%msg%n)</pattern>
        </encoder>
    </appender>

    <!-- use -Dlog.level=debug to set the log level -->
    <root level="${log.level:-error}">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
